In [14]:
import pandas as pd
#Importamos el dataframe para su analisis estadistico.
df= pd.read_csv('ventas_autos_test.csv')
df

,año,mes,ventas,marca,modelo,tipo,segmento,origen,pais_origen
0,2023,Enero,NaN,Honda,CR-V,Camiones ligeros,SUV's,Nacional,México
1,2023,Enero,418.0,Honda,HR-V,Camiones ligeros,SUV's,Nacional,México
2,2023,Febrero,NaN,Honda,CR-V,Camiones ligeros,SUV's,Nacional,México
3,2023,Febrero,679.0,Honda,HR-V,Camiones ligeros,SUV's,Nacional,México
4,2023,Marzo,NaN,Honda,CR-V,Camiones ligeros,SUV's,Nacional,México
...,...,...,...,...,...,...,...,...,...
50071,2025,Diciembre,NaN,Volvo,Xc90,Camiones ligeros,SUV's,Importado,Suecia
50072,2025,Diciembre,NaN,Volvo,XC90 II,Camiones ligeros,SUV's,Importado,Suecia
50073,2025,Diciembre,NaN,Volvo,Xc90 T6,Camiones ligeros,SUV's,Importado,Suecia
50074,2025,Diciembre,NaN,Volvo,XC90 V8,Camiones ligeros,SUV's,Importado,Suecia
50075,2025,Diciembre,NaN,Volvo,XC90 3.2,Camiones ligeros,SUV's,Importado,Suecia

In [36]:
##Corregir apostrofes
df = pd.DataFrame(df)
df["segmento"] = df["segmento"].str.replace("’", "'")
df["marca"] = df["marca"].str.strip().str.capitalize()

In [37]:
#Diccionario de meses
meses = {
    "Enero": 1, "Febrero": 2, "Marzo": 3, "Abril": 4, "Mayo": 5, "Junio": 6,
    "Julio": 7, "Agosto": 8, "Septiembre": 9, "Octubre": 10, "Noviembre": 11, "Diciembre": 12}

df["fecha"] = pd.to_datetime(df["año"].astype(str) + "-" + df["mes"].map(meses).astype(str) + "-01")

In [39]:
#Le damos valor 0 a los NaN, para que a la hora de filtrar no haya problemas al estudiar el comportamiento de las ventas con respecto a los modelos o fechas.
df["ventas"] = df.groupby("modelo")["ventas"].transform(lambda x: x.fillna(x.mean()))
df["ventas"] = df["ventas"].fillna(0)

In [40]:
#Hacemos un analisis sobre las diferentes columnas como lo son (marca, origen, año) con respecto a las ventas.
ventas_marca = df.groupby("marca")["ventas"].sum()
ventas_origen = df.groupby("origen")["ventas"].sum()
ventas_año = df.groupby("año")["ventas"].sum()
#Haciendo un analisis sobre los modelos frecuentes.
modelos_frecuentes = df["modelo"].value_counts()
ventas_desc = df["ventas"].describe()

In [27]:
print("Ventas por marca:")
print(ventas_marca)
print("\nVentas por origen:")
print(ventas_origen)
print("\nVentas por año:")
print(ventas_año)
print("\nModelos frecuentes:")
print(modelos_frecuentes)

Ventas por marca:
marca
Acura                        3752.689655
Alfa romeo                   1239.537704
Audi                        41512.492574
Auteco                        216.000000
Bentley                       129.389610
Bmw                         50115.438072
Bmw group                    3754.588235
Changan                     49125.600000
Chirey                      73555.176366
Chrysler                   289460.573702
Fiat                        31407.795756
Ford motor                 211248.731660
Foton                        7675.857692
General motors             607777.957401
Great wall motor            38251.231579
Honda                      157371.694581
Hyundai                    153907.111494
Infiniti                     3143.172414
Isuzu                        6719.586207
Jac                         87685.169601
Jaguar                        286.371041
Jetour                       8518.285714
Kia                        541265.958429
Land rover                   9248.275862
Lexus                        9253.596059
Lincoln                      5033.793103
Mazda                      352818.876080
Mercedes benz               40562.975259
Mercedes benz_prod_expo         0.000000
Mg motor                   210512.341182
Mg rover                        0.000000
Mini                        12481.862978
Mitsubishi                  44179.597241
Mitsubishi motors           88497.736481
Motornation                 32568.459743
Nissan                     791469.517241
Omoda                       28743.271222
Peugeot                     69441.519704
Porsche                      6944.275862
Renault                    117917.726942
Seat                        87667.218391
Smart                           0.000000
Subaru                      11592.397241
Suzuki                     135589.477833
Toyota                     504166.932849
Volkswagen                 533797.936997
Volvo                       26524.055172
Name: ventas, dtype: float64

Ventas por origen:
origen
Importado    3.728030e+06
Nacional     1.759102e+06
Name: ventas, dtype: float64

Ventas por año:
año
2023    1.836906e+06
2024    1.856527e+06
2025    1.793700e+06
Name: ventas, dtype: float64

Modelos frecuentes:
modelo
Serie 3                          144
Yaris Hatchback                  144
Silverado 2500 Cabina Regular    108
T-Cross                          108
Tacoma                           108
                                ...
F-550                             36
H-215                             36
Mustang Mach-E                    36
Xc90 T6                           36
XC90 V8                           36
Name: count, Length: 1293, dtype: int64

In [43]:
#Definimos un funcion que da estadisticas por grupo
def group_stats(df, group_field):
    return df.groupby(group_field)["ventas"].agg(["count", "mean", "median", "std", "min", "max", "sum"]).sort_values(by="sum", ascending=False)


print("\n Estadísticas por modelo:\n", group_stats(df, "modelo"))
print("\n Estadísticas por marca:\n", group_stats(df, "marca"))
print("\n Estadísticas por país de origen:\n", group_stats(df, "pais_origen"))
print("\n Estadísticas por tipo de vehículo:\n", group_stats(df, "tipo"))
print("\n Estadísticas por segmento:\n", group_stats(df, "segmento"))

 Estadísticas por modelo:
               count         mean       median          std     min     max  \
modelo
Versa            36  7138.000000  7138.000000  1186.729624  3404.0  9727.0
NP300            36  4993.413793  4993.413793   566.237987  3600.0  6865.0
Aveo             72  2338.310345  2338.310345  2193.040832     0.0  6301.0
Virtus           72  2035.931034  2035.931034   456.929061   787.0  3685.0
KIA K3 Sedán     36  3318.750000  3318.750000   449.677464  1083.0  4016.0
...             ...          ...          ...          ...     ...     ...
Clk 320 C        36     0.000000     0.000000     0.000000     0.0     0.0
Clk 320          36     0.000000     0.000000     0.000000     0.0     0.0
Clk 280 C        36     0.000000     0.000000     0.000000     0.0     0.0
Mega Cab         36     0.000000     0.000000     0.000000     0.0     0.0
MKZ             108     0.000000     0.000000     0.000000     0.0     0.0

                        sum
modelo
Versa         256968.000000
NP300         179762.896552
Aveo          168358.344828
Virtus        146587.034483
KIA K3 Sedán  119475.000000
...                     ...
Clk 320 C          0.000000
Clk 320            0.000000
Clk 280 C          0.000000
Mega Cab           0.000000
MKZ                0.000000

[1293 rows x 7 columns]

 Estadísticas por marca:
                          count        mean      median          std  min  \
marca
Nissan                    2412  328.138274    0.000000  1146.721991  0.0
General motors            6300   96.472692    0.000000   417.623970  0.0
Kia                       1080  501.172184   67.000000   754.200844  0.0
Volkswagen                2268  235.360642    0.000000   524.038825  0.0
Toyota                    1548  325.689233  102.500000   459.507378  0.0
Mazda                      756  466.691635  200.000000   597.095553  0.0
Chrysler                  2556  113.247486    0.000000   244.388881  0.0
Ford motor                2520   83.828862    0.000000   176.293867  0.0
Mg motor                   612  343.974414   80.000000   621.028139  2.0
Honda                      792  198.701635    0.000000   338.305133  0.0
Hyundai                    684  225.010397    6.166667   409.880120  0.0
Suzuki                     756  179.351161    3.000000   283.624490  0.0
Renault                   1512   77.987915    0.000000   259.818811  0.0
Mitsubishi motors          360  245.827046  135.000000   303.935661  0.0
Jac                       1224   71.638210   16.500000   135.409493  0.0
Seat                       828  105.878283    0.000000   200.329416  0.0
Chirey                     252  291.885620  202.333333   298.380165  7.0
Peugeot                   1692   41.041087    0.000000   101.666453  0.0
Bmw                       3204   15.641522    0.000000    41.423965  0.0
Changan                    576   85.287500   54.000000    79.544160  0.0
Mitsubishi                 504   87.657931    0.000000   249.333102  0.0
Audi                      2628   15.796230    0.000000    43.167998  0.0
Mercedes benz             3240   12.519437    0.000000    45.222119 -1.0
Great wall motor           216  177.089035   83.000000   172.508339  0.0
Motornation               1080   30.155981    3.111111    51.629716  0.0
Fiat                      1008   31.158528    0.000000    83.096370  0.0
Omoda                      108  266.141400  200.434783   234.798542  0.0
Volvo                     1512   17.542365    0.000000    67.536094  0.0
Mini                       720   17.335921    0.000000    33.006197  0.0
Subaru                     576   20.125690    0.000000    42.078657  0.0
Lexus                      360   25.704433   18.275862    25.803762  0.0
Land rover                 576   16.056034    6.000000    19.543062  0.0
Jetour                     144   59.154762   63.000000    36.811339  0.0
Foton                      432   17.768189    4.200000    28.017868  0.0
Porsche                    432   16.074713    3.000000    25.372645  0.0
Isuzu                      144   46.663793   37.000000    28.020601  0.0
Lincoln                    648    7.768199    0.000000    18.208331  0.0
Bmw group                  108   34.764706    0.000000    49.393926  0.0
Acura                      540    6.949425    0.000000    13.792459  0.0
Infiniti                   576    5.456897    0.000000    12.763950  0.0
Alfa romeo                 288    4.303950    0.000000     8.886315  0.0
Jaguar                     648    0.441931    0.000000     1.247648  0.0
Auteco                     180    1.200000    1.000000     0.646434  0.0
Bentley                    972    0.133117    0.000000     0.316528  0.0
Mercedes benz_prod_expo    108    0.000000    0.000000     0.000000  0.0
Mg rover                   144    0.000000    0.000000     0.000000  0.0
Smart                      252    0.000000    0.000000     0.000000  0.0

                                 max            sum
marca
Nissan                   9727.000000  791469.517241
General motors           6301.000000  607777.957401
Kia                      4016.000000  541265.958429
Volkswagen               3685.000000  533797.936997
Toyota                   2462.000000  504166.932849
Mazda                    2921.000000  352818.876080
Chrysler                 3198.000000  289460.573702
Ford motor               1624.000000  211248.731660
Mg motor                 5253.000000  210512.341182
Honda                    1661.000000  157371.694581
Hyundai                  2139.000000  153907.111494
Suzuki                   1262.000000  135589.477833
Renault                  2783.000000  117917.726942
Mitsubishi motors        1502.000000   88497.736481
Jac                      1001.000000   87685.169601
Seat                     1414.000000   87667.218391
Chirey                   1105.000000   73555.176366
Peugeot                   720.000000   69441.519704
Bmw                       367.000000   50115.438072
Changan                   421.000000   49125.600000
Mitsubishi                955.931034   44179.597241
Audi                      339.000000   41512.492574
Mercedes benz             511.000000   40562.975259
Great wall motor          615.000000   38251.231579
Motornation               394.000000   32568.459743
Fiat                      643.000000   31407.795756
Omoda                    1046.000000   28743.271222
Volvo                     765.000000   26524.055172
Mini                      211.000000   12481.862978
Subaru                    284.000000   11592.397241
Lexus                     143.000000    9253.596059
Land rover                 97.000000    9248.275862
Jetour                    155.000000    8518.285714
Foton                     153.000000    7675.857692
Porsche                   130.000000    6944.275862
Isuzu                     172.000000    6719.586207
Lincoln                   137.000000    5033.793103
Bmw group                 104.294118    3754.588235
Acura                     120.000000    3752.689655
Infiniti                   98.000000    3143.172414
Alfa romeo                 54.000000    1239.537704
Jaguar                     10.000000     286.371041
Auteco                      6.000000     216.000000
Bentley                     2.000000     129.389610
Mercedes benz_prod_expo     0.000000       0.000000
Mg rover                    0.000000       0.000000
Smart                       0.000000       0.000000

 Estadísticas por país de origen:
                  count        mean      median         std  min          max  \
pais_origen
México            7956  221.103797    0.000000  738.963638  0.0  9727.000000
China             4284  234.536888   45.500000  555.681688  0.0  6301.000000
Brasil            2448  190.832295    0.000000  408.538364  0.0  2783.000000
Japón             3852  115.949788    0.000000  296.161173  0.0  2889.000000
Estados Unidos    7884   54.542417    0.000000  137.219033  0.0  1661.000000
India              720  479.936142  199.125000  628.478905  0.0  3685.000000
Tailandia          612  391.161426  249.000000  482.513243  0.0  2462.000000
Alemania          8028   16.105362    0.000000   88.400874 -1.0  1212.034483
Corea del Sur     1440   86.405002    0.000000  247.697519  0.0  1370.238095
Indonesia          180  610.760502  540.500000  311.172738  1.0  1903.000000
España            1332   78.115647    0.000000  174.963639  0.0  1414.000000
Canadá            1296   78.995729    0.000000  277.620381  0.0  2161.000000
Reino Unido       3024   17.251301    0.000000   72.694097  0.0   911.000000
Francia           1836   21.909133    0.000000   73.624288  0.0   666.000000
Argentina          432   86.251710    0.000000  154.309635  0.0   757.000000
República Checa    108  248.918338  175.344828  252.027157  0.0   892.000000
Colombia           108  126.011494   80.000000  158.997970  0.0   896.000000
Hungría            396   33.862354    7.551724   45.085433  0.0   215.000000
Bélgica            720    9.556386    0.000000   37.916390  0.0   332.000000
No Especificado    468   13.202996    0.000000   34.564913  0.0   228.000000
Italia             756    8.132895    0.000000   26.357781  0.0   270.000000
Turquía            180   33.553846    0.000000   76.965636  0.0   609.000000
Suecia             828    6.091454    0.000000   21.791545  0.0   182.000000
Polonia            216   22.952063    0.000000   37.308151  0.0   147.000000
Eslovaquia         216   19.599714    0.000000   39.380827  0.0   179.000000
Austria            324    4.321839    0.000000   12.517800  0.0    71.000000
Finlandia           36    0.000000    0.000000    0.000000  0.0     0.000000
Chile              108    0.000000    0.000000    0.000000  0.0     0.000000
Países Bajos       108    0.000000    0.000000    0.000000  0.0     0.000000
Portugal           108    0.000000    0.000000    0.000000  0.0     0.000000
Serbia              36    0.000000    0.000000    0.000000  0.0     0.000000
Taiwán              36    0.000000    0.000000    0.000000  0.0     0.000000

                          sum
pais_origen
México           1.759102e+06
China            1.004756e+06
Brasil           4.671575e+05
Japón            4.466386e+05
Estados Unidos   4.300124e+05
India            3.455540e+05
Tailandia        2.393908e+05
Alemania         1.292938e+05
Corea del Sur    1.244232e+05
Indonesia        1.099369e+05
España           1.040500e+05
Canadá           1.023785e+05
Reino Unido      5.216794e+04
Francia          4.022517e+04
Argentina        3.726074e+04
República Checa  2.688318e+04
Colombia         1.360924e+04
Hungría          1.340949e+04
Bélgica          6.880598e+03
No Especificado  6.179002e+03
Italia           6.148469e+03
Turquía          6.039692e+03
Suecia           5.043724e+03
Polonia          4.957646e+03
Eslovaquia       4.233538e+03
Austria          1.400276e+03
Finlandia        0.000000e+00
Chile            0.000000e+00
Países Bajos     0.000000e+00
Portugal         0.000000e+00
Serbia           0.000000e+00
Taiwán           0.000000e+00

 Estadísticas por tipo de vehículo:
                   count        mean  median         std  min     max  \
tipo
Camiones ligeros  22284  140.256689    12.2  354.290143  0.0  6865.0
Automóviles       27792   84.975971     0.0  427.125983 -1.0  9727.0

                           sum
tipo
Camiones ligeros  3.125480e+06
Automóviles       2.361652e+06

 Estadísticas por segmento:
               count        mean  median         std  min     max           sum
segmento
SUV's         13968  149.511786    21.0  315.953833  0.0  3175.0  2.088381e+06
Subcompactos   5868  207.827079     0.0  601.205416  0.0  6301.0  1.219529e+06
Compactos      5796  172.613739     0.0  682.362475  0.0  9727.0  1.000469e+06
Pick Ups       6408  145.263112     1.0  451.515403  0.0  6865.0  9.308460e+05
De Lujo       14004    8.293927     0.0   38.809925 -1.0  1397.0  1.161481e+05
Minivans       1908   55.688367     0.0  206.782310  0.0  2140.0  1.062534e+05
Deportivos     2124   12.008246     0.0   40.005704  0.0   414.0  2.550551e+04

In [44]:
#Calculo de las ventas de acuerdo a la fecha, esto para no usar la columna de meses y que se combinen los diferentes modelos.
#Tambien siendo que se puede hacer un filtro mas grande al ver las ventas de acuerdo a las fechas de cada modelo.
ventas_por_fecha = df.groupby("fecha")["ventas"].sum()
print("\n Ventas por fecha:\n", ventas_por_fecha)

 Ventas por fecha:
 fecha
2023-01-01    139349.364398
2023-02-01    145581.786783
2023-03-01    162106.672358
2023-04-01    137446.505541
2023-05-01    145987.727152
2023-06-01    155167.186941
2023-07-01    152734.280489
2023-08-01    152796.774770
2023-09-01    156833.669413
2023-10-01    148085.805957
2023-11-01    163494.828114
2023-12-01    177321.266632
2024-01-01    145875.762918
2024-02-01    147277.410521
2024-03-01    157285.519612
2024-04-01    145832.921468
2024-05-01    150236.339555
2024-06-01    153204.209093
2024-07-01    155198.244551
2024-08-01    155679.422871
2024-09-01    144923.890424
2024-10-01    150545.664278
2024-11-01    175724.014700
2024-12-01    174743.353113
2025-01-01    147225.904713
2025-02-01    139176.740402
2025-03-01    153447.640717
2025-04-01    137510.685438
2025-05-01    149396.277495
2025-06-01    152420.340359
2025-07-01    152420.340359
2025-08-01    152420.340359
2025-09-01    152420.340359
2025-10-01    152420.340359
2025-11-01    152420.340359
2025-12-01    152420.340359
Name: ventas, dtype: float64

In [45]:
#Calculo del porcentaje de participacion de las marcas segun sus ventas.
participacion_marca = (df.groupby("marca")["ventas"].sum() / df["ventas"].sum()) * 100
print(participacion_marca)

marca
Acura                       0.068391
Alfa romeo                  0.022590
Audi                        0.756543
Auteco                      0.003936
Bentley                     0.002358
Bmw                         0.913327
Bmw group                   0.068425
Changan                     0.895287
Chirey                      1.340503
Chrysler                    5.275261
Fiat                        0.572390
Ford motor                  3.849893
Foton                       0.139888
General motors             11.076423
Great wall motor            0.697108
Honda                       2.868014
Hyundai                     2.804873
Infiniti                    0.057283
Isuzu                       0.122461
Jac                         1.598015
Jaguar                      0.005219
Jetour                      0.155241
Kia                         9.864278
Land rover                  0.168545
Lexus                       0.168642
Lincoln                     0.091738
Mazda                       6.429932
Mercedes benz               0.739238
Mercedes benz_prod_expo     0.000000
Mg motor                    3.836473
Mg rover                    0.000000
Mini                        0.227475
Mitsubishi                  0.805149
Mitsubishi motors           1.612823
Motornation                 0.593542
Nissan                     14.424101
Omoda                       0.523830
Peugeot                     1.265534
Porsche                     0.126556
Renault                     2.148986
Seat                        1.597687
Smart                       0.000000
Subaru                      0.211265
Suzuki                      2.471044
Toyota                      9.188168
Volkswagen                  9.728177
Volvo                       0.483386
Name: ventas, dtype: float64

In [35]:
#particionamos de los datos de las ventas en quartiles, con la finalidad de hacer un modelo de pastilla, haciendo un filtro de outliers.
q1 = df["ventas"].quantile(0.25)
q3 = df["ventas"].quantile(0.75)
iqr = q3 - q1
outliers = df[(df["ventas"] < (q1 - 1.5 * iqr)) | (df["ventas"] > (q3 + 1.5 * iqr))]
print(outliers)
print("\n Outliers detectados:\n", outliers[["fecha", "modelo", "ventas"]])

#Calculo de la desviacion estandar y el coeficiente de variacion de las ventas.
std_global = df["ventas"].std()
cv = std_global / df["ventas"].mean()

print(std_global)
print(cv)

        año        mes       ventas       marca            modelo  \
0      2023      Enero   993.689655       Honda              CR-V
1      2023      Enero   418.000000       Honda              HR-V
2      2023    Febrero   993.689655       Honda              CR-V
3      2023    Febrero   679.000000       Honda              HR-V
4      2023      Marzo   993.689655       Honda              CR-V
...     ...        ...          ...         ...               ...
50031  2025  Diciembre  2035.931034  Volkswagen            Virtus
50032  2025  Diciembre    90.000000  Volkswagen  Volkswagen Caddy
50039  2025  Diciembre   382.000000       Volvo              EX30
50067  2025  Diciembre   150.827586       Volvo              XC40
50069  2025  Diciembre    91.931034       Volvo           XC60 II

                   tipo      segmento     origen pais_origen      fecha
0      Camiones ligeros         SUV's   Nacional      México 2023-01-01
1      Camiones ligeros         SUV's   Nacional      México 2023-01-01
2      Camiones ligeros         SUV's   Nacional      México 2023-02-01
3      Camiones ligeros         SUV's   Nacional      México 2023-02-01
4      Camiones ligeros         SUV's   Nacional      México 2023-03-01
...                 ...           ...        ...         ...        ...
50031       Automóviles  Subcompactos  Importado      Brasil 2025-12-01
50032  Camiones ligeros      Pick Ups  Importado     Polonia 2025-12-01
50039  Camiones ligeros         SUV's  Importado       China 2025-12-01
50067       Automóviles       De Lujo  Importado     Bélgica 2025-12-01
50069  Camiones ligeros         SUV's  Importado      Suecia 2025-12-01

[9058 rows x 10 columns]

 Outliers detectados:
            fecha            modelo       ventas
0     2023-01-01              CR-V   993.689655
1     2023-01-01              HR-V   418.000000
2     2023-02-01              CR-V   993.689655
3     2023-02-01              HR-V   679.000000
4     2023-03-01              CR-V   993.689655
...          ...               ...          ...
50031 2025-12-01            Virtus  2035.931034
50032 2025-12-01  Volkswagen Caddy    90.000000
50039 2025-12-01              EX30   382.000000
50067 2025-12-01              XC40   150.827586
50069 2025-12-01           XC60 II    91.931034

[9058 rows x 3 columns]
397.3171661949845
3.6259476712537966